/* 统一去掉内外边距 */
*{
    margin: 0;
    padding: 0;
}
/* 整体背景颜色为这个色 */
body{
    background-color: #f1f3f5;
}
/* 好像是去掉有序列表的小点 */
li{
    list-style: none;
}
/* 把链接下滑线去掉 */
a{
    text-decoration: none;
}
/* 清除浮动 */
.clearfix:before,.clearfix:after {
    content:"";
    display:table; 
}
.clearfix:after {
    clear:both;
}
.clearfix {
     *zoom:1;
}
/* 为内容设置一个模板 */
.w{
    width: 1200px;
    margin: 0,auto;
}
/* 这个是给头部大盒子设置样式 */
.header{
    height: 60px;
    background-color: #d24735;
}
.head{
    height: 60px;
    margin: 0 auto;
}
/* logo部分 */
.logo{
    float: left;
    width: 250px;
    height: 50px;
    margin: 5px 0;
}
/* 搜索栏部分 */
.search{
    float: left;
    height: 42px;
    width: 412px;
    margin: 9px 0px 9px 125px;
    border-radius: 5px;
    
}
.search input{
    float: left;
    width: 345px;
    height: 42px;
    border: 1px solid #00a4ff;
    border-right: 0;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
    border-radius: 5px 0px 0px 5px;
    
}
.search button{
    float: left;
    width: 50px;
    height: 44px;
    border: 0;
}
.search div button a img{
    width: 50px;
    height: 44px;
}

.nav{
    float: left;
    margin-left: 60px;
}
.nav ul li{
    float: left;
    margin: 0 10px;
}
.nav ul li a{
    display: block;
    margin: 9px 0;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 16px;
    color: black;
}
.nav ul li a:hover{
    border-bottom: 2px solid #fac03d;
    color: #fac03d;
}
.user{
    float: right;
    margin-left: 30px;
}
.user img{
    margin-top: 8.4px;
    margin-left: 5.5px;
}
.user p{
    color: #666;
    font-size: 11px;
}
/* 课程分类表模块 */
.goods{
    height: 72px;
    background-color: #fff;
    /* 会把w里面的重叠 */
    margin: 20px auto 0px;
    box-shadow: 0 2px 3px 3px rgba(0,0,0,0.1);
    line-height: 72px;
}
.goods h3{
    float: left;
    margin-left: 30px;
    font-size: 18px;
    color: #3d77fa;
}
.goods ul{
    float: left;
    margin-left: 30px;
}
.goods ul li{
    float: left;
    width: auto;
}
.goods ul li a{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin:  26px 0px;
    padding: 0 30px;
    font-size: 14px;
    color: black;
    border-left: 1px solid #ccc;
    
}
.goods a{
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #3d77fa;
}
/* 课程模块 */
.box{
    margin: 50px auto 0px;
}
.box div{
    height:45px
}
.box div h3{
    float: left;
    font-size: 20px;
    color: #494949;
}
.box div a{
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 10px;
    margin-right: 30px;
}
.kc{
    width: 1234px;
}
.kc li{
    float: left;
    width: 274.5px;
    height: 255px;
    background-color: #fff;
    margin-right: 34px;
    margin-bottom: 30px;
}
.kc li img{
    width: 100%;
}
.kc li h4{
    margin: 17px 15px 14px 25px;
    font-size: 16px;
    color: black;
    font-weight:500 ;
}
.kc li h4 a{
    color: black;
}
.kc li h4 a:hover{
    color: #d24735;
}
.kc li div{
    margin: 0px 20px 0px 25px;
    font-size: 14px;
    color: #999;
}
.jwhz{
    margin-top: 25px;
    height: 165px;
    background-color: #fff;
}
.jwhz .w{
    padding-top: 35px;
    margin: 0 auto;
}
.jwhz .w .copyright{
    float: left;
    margin-left: 50px;
} 
.copyright img{
    width: 250px;
    height: 50px;
}
.copyright p{
    font-size: 12px;
    color: #666;
    margin: 20px 0px 15px 0px;
}
.links{
    float: right;
    margin-right: 100px;
    margin-top: 10px;
    width: 600px;
}
.links dl{
    float: left;
}
.links dl dt a{
    font-size: 14px;
    color: #333;
    margin-bottom: 5px ;
}
.links dl dd{
    margin-left: 30px;
}
.links dl dd a{
    color: #333;
    font-size: 12px;
}