/* 统一去掉内外边距 */
*{
    margin: 0;
    padding: 0;
}
/* 整体背景颜色为这个色 */
body{
    background-color: #f1f3f5;
}
/* 好像是去掉有序列表的小点 */
li{
    list-style: none;
}
/* 把链接下滑线去掉 */
a{
    text-decoration: none;
}
/* 清除浮动 */
.clearfix:before,.clearfix:after {
    content:"";
    display:table; 
}
.clearfix:after {
    clear:both;
}
.clearfix {
     *zoom:1;
}
/* 为内容设置一个模板 */
.w{
    width: 1200px;
    margin: 0,auto;
}
/* 这个是给头部大盒子设置样式 */
.header{
    height: 60px;
    background-color: #d24735;
}
.head{
    height: 60px;
    margin: 0 auto;
}
/* logo部分 */
.logo{
    float: left;
    width: 250px;
    height: 50px;
    margin: 5px 0;
}
/* 搜索栏部分 */
.search{
    float: left;
    height: 42px;
    width: 412px;
    margin: 9px 0px 9px 125px;
    border-radius: 5px;
    
}
.search input{
    float: left;
    width: 345px;
    height: 42px;
    border: 1px solid #00a4ff;
    border-right: 0;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
    border-radius: 5px 0px 0px 5px;
    
}
.search button{
    float: left;
    width: 50px;
    height: 44px;
    border: 0;
}
.search div button a img{
    width: 50px;
    height: 44px;
}
/* 导航栏 */
.nav{
    float: left;
    margin-left: 60px;
}
.nav ul li{
    float: left;
    margin: 0 10px;
}
.nav ul li a{
    display: block;
    margin: 9px 0;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 16px;
    color: black;
}
.nav ul li a:hover{
    border-bottom: 2px solid #fac03d;
    color: #fac03d;
}
/* 头像 */
.user{
    float: right;
    margin-left: 30px;
}
.user img{
    margin-top: 8.4px;
    margin-left: 5.5px;
}
.user p{
    color: #666;
    font-size: 11px;
}
/* 课程模块 */
/* 一个小盒子 */
.lj{
    height: 30px;
    font-size: 16px;
    color: #666;
    line-height: 30px;
    margin: 50px auto 0;

}
.lj a{
    font-size: 16px;
    color: #666;
    line-height: 30px;
}
.lj a:hover{
    color: #bfbfbf;
}
.lj span{
    padding: 0 5px;
}
/* 最重要的大盒子 */
.bigbox{
    height: 500px;
    font-size: 16px;
    margin: 30px auto 0;
}
.bigbox .head-box{
    height: 70px;
    line-height: 70px;
    padding-left: 30px;
    font-size: 28px;
}
.bigbox .little-box{
    padding: 30px 30px 27px 30px ;
    background-color: #fff;
    border-radius: 15px;
    height: 360px;
}
.bigbox .little-box .img-box{
    float: left;
    width: 570px;
    height: 357px;
    padding-bottom: 3px;
}
.bigbox .little-box .img-box img{
    width: 570px;
    height: 357px;
    border-radius: 15px;
}
.bigbox .little-box .boxs{
    float: left;
    padding-left: 20px;
}
.bigbox .little-box .boxs .littler-box{
    font-size: 14px;
}
.bigbox .little-box .boxs .littler-box li{
    height: 117px;
    width: 550px;
    margin-bottom: 3px;
}
.bigbox .little-box .boxs .littler-box li img{
    float: left;
    height: 117px;
    width: 185px;
    border-radius: 7px;
}
.bigbox .little-box .boxs .littler-box li dl{
    float: left;
    padding-left: 16px;
}
.bigbox .little-box .boxs .littler-box li dl .xbt{
    margin-top: 15px;
    height: 35px;
}
.bigbox .little-box .boxs .littler-box li dl .xbt h3{
    line-height: 35px;
    font-size: 20px;
}
.bigbox .little-box .boxs .littler-box li dl .xbt2{
    margin-bottom: 17px;
    padding-top: 4px;
    height: 46px;
    width: 349px;
} 
.bigbox .little-box .boxs .littler-box li dl .xbt2 a{
    font-size: 14px;
    color: #bfbfbf;
    line-height: 25px;
}
.bigbox .little-box .boxs .littler-box li dl .xbt2 a:hover{
    color: #fac03d;
}




/* 屁股 */
.jwhz{
    margin-top: 25px;
    height: 165px;
    background-color: #fff;
}
.jwhz .w{
    padding-top: 35px;
    margin: 0 auto;
}
.jwhz .w .copyright{
    float: left;
    margin-left: 50px;
} 
.copyright img{
    width: 250px;
    height: 50px;
}
.copyright p{
    font-size: 12px;
    color: #666;
    margin: 20px 0px 15px 0px;
}
.links{
    float: right;
    margin-right: 100px;
    margin-top: 10px;
    width: 600px;
}
.links dl{
    float: left;
}
.links dl dt a{
    font-size: 14px;
    color: #333;
    margin-bottom: 5px ;
}
.links dl dd{
    margin-left: 30px;
}
.links dl dd a{
    color: #333;
    font-size: 12px;
}